.sidebar {
  display: flex;
  justify-content: space-between;
  background-color: white;
  width: 100%;
}
.btun {
  margin-top: 4px;
  left: 8px;
  background-color: rgb(218, 225, 232);
  color: rgb(115, 68, 68);
  /* font-weight: bold; */
  font-size: 14px;
}

.btun:hover {
  background-color: rgb(190, 198, 223);
}
.btn {
  display: flex;
  padding: 10px;
}
.search {
  width: 24px;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
  display: flex;
}

.searchText {
  display: flex;
  font-size: 14px;
  color: black;
}
.text {
  position: absolute;
  display: flex;
  top: 10px;
}

.title-app {
  font-size: 30px;
  margin-top: 15px;
  font-family: sans-serif;
}

.bell {
  width: 23px;
  height: 23px;
  margin-top: 10px;
}
.MuiDrawer-paper {
  background-color: #f8f2f2;
}

/* Customize the drawer width */
.MuiDrawer-paperAnchorLeft {
  width: 250px;
}
/* Style for the search input and button */
.drawer-search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 8px; */
  background-color: #e0e0e0;
}
.drawer-search input {
  /* flex: 1; */
  /* margin-right: 10px; */
}

.drawer-search button {
  flex-shrink: 0;
}
.inputt-field {
  background-color: rgb(233, 239, 237);
  /* background-color: rgb(247, 244, 249); */
  font-size: 19px;
  align-items: center;
  text-align: center;
  display: flex;
  padding: 10px;
}
.go-btn {
  color: black;
  font-weight: bolder;
  font-size: 20px;
  padding: 3px;
  background-color: rgb(203, 210, 217);
}
.go-btn:hover {
  color: black;
  font-weight: bolder;
  font-size: 20px;
  padding: 1px;
  background-color: rgb(187, 208, 228);
}
.avatar-class {
  width: 24px;
  height: 27px;
}

.logout-link a {
  text-decoration: none;
  color: black;
  font-weight: bolder;
}
