.container {
  /* max-width: 1150px; */
  max-width: 80vw;
  margin: 0 auto;
  /* padding: 20px; */
  background-color: #fff;
  border-radius: 8px;
  margin-top: 2%;
  display: flex;
  height: 90vh;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.left {
  /* height: 100vh; */
  width: 50%;
  background-color: #8b91ec;
  box-sizing: border-box;
  overflow-y: hidden;
}
.otp-img {
  width: 33vw;
  height: 56vh;
  margin: 20vh 0vw 23vw 3vh;
  /* margin: 60px 0px 0px 2px; */
}
.forms {
  width: 50%;
  padding-left: 100px;
}

.otp-head {
  /* margin-top: 100px; */
  margin-top: 13vh;
  font-size: 50px;
  font-weight: bolder;
  padding-right: 40px;
  z-index: -1;
}
.otp-btn {
  margin-top: 80px;
}
#otp-error {
  color: #d14444;
  position: absolute;
  top: 330px;
  display: none;
}
@media (max-width: 970px) {
  .container {
    max-width: 880px;
    /* margin-top: 8%;
    height: 90vh; */
  }
}

@media (max-width: 900px) {
  .container {
    max-width: 700px;
    /* margin-top: 8%;
    height: 90vh; */
  }
}
@media (max-width: 890px) {
  .container {
    max-width: 700px;
    /* margin-top: 8%;
    height: 90vh; */
  }
  .otp-head {
    margin-left: 1vw;
  }
}

@media (max-width: 760px) {
  .container {
    max-width: 640px;
    /* margin-top: 7%;
    height: 90vh; */
  }
  .otp-head {
    margin-left: -5vw;
  }
}

@media (max-width: 670px) {
  .container {
    /* background-color: red; */
    max-width: 500px;
    /* margin-top: 7%;
    height: 90vh; */
  }
  .left {
    display: none;
  }
  .forms {
    width: 100%;
    padding-left: 10vw;
  }

  .otp-head {
    margin-left: 6vw;
  }

  .otp-btn {
    width: 70vw;
    margin-top: -10spx;
  }
}

@media (max-width: 552px) {
  .container {
    max-width: 480px;
    /* margin-top: 7%;
    height: 90vh; */
  }
  .otp-head {
    margin-left: 10vw;
  }
}

@media (max-width: 530px) {
  .container {
    max-width: 450px;
    /* margin-top: 7%;
    height: 90vh; */
  }
  .otp-head {
    margin-left: 10vw;
  }
}

@media (max-width: 470px) {
  .container {
    max-width: 400px;
  }
  .otp-head {
    margin-left: 10vw;
  }
}

@media (max-width: 410px) {
  .container {
    max-width: 380px;
  }
  .otp-head {
    margin-left: 10vw;
  }
}

@media (max-width: 372px) {
  .container {
    max-width: 340px;
    margin-top: 7%;
    height: 90vh;
  }
  .otp-head {
    margin-left: 4vw;
    font-size: 35px;
  }
}

@media (max-width: 357px) {
  .container {
    max-width: 310px;
    /* margin-top: 7%;
    height: 90vh; */
  }
  .otp-head {
    margin-left: 4vw;
    font-size: 30px;
  }
}

@media (max-width: 302px) {
  .container {
    max-width: 270px;
    margin-top: 7%;
    height: 90vh;
  }

  .otp-head {
    margin-left: 5vw;
  }
}
@media (max-width: 280px) {
  .otp-head {
    margin-left: 3vw;
  }
  .container {
    max-width: 250px;
  }
}
