body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

.container {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  margin-top: 5%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  margin-bottom: 30px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.input-field {
  width: 90%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding-left: 40px;
  outline: none;
}

button[type="submit"] {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  height: 60px;
  background-color: #5f16cb;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #7375e2;
}

.mail {
  width: 24px;
  height: 24px;
  position: absolute;
  display: block;
  padding-top: 6px;
  padding-left: 5px;
}
.lock {
  width: 24px;
  height: 24px;
  position: absolute;
  display: block;
  padding-top: 5px;
  padding-left: 5px;
}
.user {
  width: 24px;
  height: 24px;
  position: absolute;
  display: block;
  padding-top: 5px;
  padding-left: 5px;
}
.eyeimg {
  width: 24px;
  margin-left: 90%;
  height: 20px;
  position: relative;
  display: block;
  top: -30px;
}
#wrong-email2 {
  color: #d14444;
  position: absolute;
  top: 220px;
  display: none;
}
