body {
  /* font-family: Arial, sans-serif; */
  background-color: rgb(179, 179, 239);
  /* width: 100vw;
  height: 100vh; */
}

.container-signup {
  /* max-width: 1150px; */
  max-width: 80vw;
  margin: 0 auto;
  /* padding: 20px; */
  background-color: #fff;
  border-radius: 8px;
  margin-top: 2%;
  display: flex;
  height: 95vh;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.left {
  /* height: 100vh; */
  width: 50%;
  background-color: #8b91ec;
  box-sizing: border-box;
  overflow-y: hidden;
}
.login-img {
  width: 30vw;
  margin: 20vh 0vw 23vw 3vh;
  height: 50vh;
}

.heading-signup {
  margin-top: 4vh;
  font-size: 50px;
  font-weight: bolder;
  padding-right: 40px;
  z-index: -1;
}
.forms2 {
  width: 50%;
  padding-left: 5vw;
  overflow-y: hidden;
}
.form-class2 {
  margin-top: -10px;
}

.form-group2 {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.form-label {
  /* display: block; */
  font-weight: bold;
  /* margin-bottom: 5px; */
  /* margin-top: 10px; */
}

.input-field2 {
  width: 30vw;
  /* padding: 10px; */
  height: 35px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding-left: 40px;
  outline: none;
  margin-top: -16px;
  /* margin-left: -40px; */
  border: 1px solid black;
}

button[type="submit"] {
  display: block;
  width: 30vw;
  padding: 10px;
  font-size: 16px;
  height: 60px;
  background-color: #7e83c9;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #4d52e8;
}

.mail {
  width: 22px;
  height: 22px;
  position: relative;
  top: 19px;
  left: 10px;
  /* display: block; */
  /* padding-top: 6px; */
  /* padding-left: 5px; */
}
.lock {
  width: 22px;
  height: 22px;
  position: relative;
  /* display: block; */
  top: 17px;

  /* padding-top: 5px;
  padding-left: 5px; */
}
.user {
  width: 22px;
  height: 22px;
  position: relative;
  top: 19px;
  left: 10px;
  /* display: block; */
  /* padding-top: 6px; */
  /* padding-left: 5px; */
}
.eyeimg {
  width: 24px;
  margin-left: 31vw;
  height: 20px;
  position: relative;
  display: block;
  top: -30px;
}

.texttt {
  /* display: flex; */
  margin-top: 8px;
  font-size: 19px;
  color: black;
}

.link a {
  text-decoration: none;
  color: #4152d5;
  font-weight: bolder;
  padding-left: 10px;
}

@media (max-width: 970px) {
  .container-signup {
    max-width: 880px;
    /* margin-top: 8%; */
    /* height: 90vh; */
  }
  .eyeimg {
    margin-left: 30vw;
  }
}

@media (max-width: 900px) {
  .container-signup {
    max-width: 700px;
    /* margin-top: 8%; */
    /* height: 90vh; */
  }
  .eyeimg {
    margin-left: 28vw;
  }
}

@media (max-width: 760px) {
  .container-signup {
    max-width: 640px;
    /* margin-top: 7%;
    height: 90vh; */
  }
  .eyeimg {
    margin-left: 30vw;
  }
  .heading-signup {
    font-size: 48px;
  }
  .texttt {
    /* display: flex; */
    margin-top: 25px;
    font-size: 18px;
    color: black;
    display: block;
  }

  .link a {
    text-decoration: none;
    color: #4152d5;
    font-weight: bold;
    padding-left: 10px;
  }
}

@media (max-width: 670px) {
  .container-signup {
    max-width: 600px;
    /* margin-top: 7%;
    height: 90vh; */
  }
  .left {
    display: none;
  }
  .forms2 {
    width: 100%;
    padding-left: 13vw;
  }
  .input-field2 {
    width: 60vw;
    /* margin-top: -10px; */
  }
  .heading-signup {
    margin-left: 20vw;
  }
  .eyeimg {
    margin-left: 61vw;
  }
  .login-btn {
    width: 70vw;
    margin-top: -10px;
  }
}

@media (max-width: 600px) {
  .container-signup {
    max-width: 500px;
    /* margin-top: 7%; */
    /* height: 90vh; */
  }
  .heading-signup {
    margin-left: 14vw;
  }
}

/* @media (max-width: 552px) {
  .container-signup {
    max-width: 480px;
    margin-top: 7%;
    height: 90vh;
  }
  .heading-signup {
    margin-left: 10vw;
  }
} */

@media (max-width: 530px) {
  .container-signup {
    max-width: 460px;
    margin-top: 7%;
    /* height: 90vh; */
  }
  .heading-signup {
    margin-left: 14vw;
  }
}

@media (max-width: 460px) {
  .container-signup {
    max-width: 400px;
  }
  .heading-signup {
    margin-left: 14vw;
  }
  .eyeimg {
    margin-left: 60vw;
  }
}

@media (max-width: 419px) {
  .container-signup {
    max-width: 340px;
  }
  .heading-signup {
    margin-left: 10vw;
  }
  .input-field2 {
    /* margin-top: -10px; */
    width: 53vw;
  }
  .eyeimg {
    margin-left: 53vw;
  }
}

@media (max-width: 372px) {
  .container-signup {
    max-width: 340px;
    margin-top: 7%;
    /* height: 90vh; */
  }
  .eyeimg {
    margin-left: 52vw;
  }
}

@media (max-width: 363px) {
  .container-signup {
    max-width: 340px;
    margin-top: 7%;
    /* height: 90vh; */
  }
  .eyeimg {
    margin-left: 52vw;
  }
}

@media (max-width: 357px) {
  .container-signup {
    max-width: 310px;
    margin-top: 7%;
    /* height: 90vh; */
  }
  .eyeimg {
    margin-left: 50vw;
  }
}

@media (max-width: 320px) {
  .container-signup {
    max-width: 300px;
    margin-top: 7%;
    /* height: 90vh; */
  }
  .eyeimg {
    margin-left: 50vw;
  }
}

@media (max-width: 302px) {
  .container-signup {
    max-width: 250px;
    margin-top: 7%;
    /* height: 90vh; */
  }
  .eyeimg {
    margin-left: 50vw;
  }
  .heading-signup {
    margin-left: 5vw;
  }
}
@media (max-width: 280px) {
  .heading-signup {
    margin-left: 1vw;
  }
  .container-signup {
    max-width: 217px;
  }
}

@media (min-width: 1024px) and (max-width: 1024px) {
  .heading-signup {
    margin-top: 70px;
  }
  .form-class2 {
    margin-top: 25px;
  }

  .container-signup {
    max-width: 940px;
  }
  .eyeimg {
    margin-left: 28vw;
  }
}
